.weather-card {

    background-color: var(--bs-body-bg);
    border-radius: 12px;
    padding: 20px;

    box-shadow: 0 2px 8px rgba(0,0,0,.1);


    &__title {
        font-weight: 600;
    }


    &__temperature {
        font-size: 3rem;
        font-weight: bold;
    }

}